<%= bootstrap_form_for([current_exhibit, @resource.becomes(Spotlight::Resources::DriHarvester)], url: spotlight_resources_dri_engine.exhibit_dri_harvester_path(exhibit_id: current_exhibit), layout: :horizontal, label_col: 'col-md-2', control_col: 'col-sm-6 col-md-6' ) do |f| %>
  <%= f.text_field :url, help: t('.url-field.help'), label: t('.url'), value: 'https://repository.dri.ie' %>
  
  <% if current_user.repository_accounts.any? %>
    <%= f.text_field :user, help: t('.user-field.help'), label: t('.user'), value: current_user.repository_accounts.first.email %>
    <%= f.text_field :token, help: t('.token-field.help'), label: t('.token'), value: current_user.repository_accounts.first.token %>
  <% else %>
    <%= f.text_field :user, help: t('.user-field.help'), label: t('.user'), value: current_user.email %>
    <%= f.text_field :token, help: t('.token-field.help'), label: t('.token') %>
  <% end %>
  <%= f.text_field :ids, help: t('.ids-field.help'), label: t('.ids') %>
  <%= f.text_area :metadata, help: t('.metadata-field.help'), label: t('.metadata'), value: "title, subject, creation_date, published_date, type, rights, language, description, creator, contributor, publisher, date, format, source, temporal_coverage, geographical_coverage, geocode_point, geocode_box, institute, root_collection_id, isGovernedBy, ancestor_id, ancestor_title, role_aut" %>
  <div class="form-actions">
    <div class="primary-actions">
      <%= cancel_link @resource, :back, class: 'btn btn-default' %>
      <%= f.submit t('.add_item'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
