<% if show_contact_form? %>
  <div id="report-problem-form">
    <%= render 'spotlight/shared/report_a_problem' %>
  </div>
<% end %>

<div class="masthead <%= 'image-masthead' if current_masthead %> <%= 'resource-masthead' if resource_masthead? %>">
  <% if current_masthead %>
    <span class='background-container' style="background-image: url('<%= current_masthead.iiif_url %>')"></span>
    <span class='background-container-gradient'></span>
  <% end %>

  <%= render 'shared/exhibit_navbar' if current_exhibit && resource_masthead? %>

  <div class="container site-title-container">
    <div class="site-image">
      <%= image_tag("dri/masthead.jpg") %>
    </div>
    <div class="site-title h1">
      <% if content_for? :masthead %>
        <%= content_for :masthead %>
      <% elsif current_exhibit %>
        <%= current_exhibit.title %>
        <% if current_exhibit.subtitle.present? %>
        </div>
        <div class="site-subtitle h2">
            <small><%= current_exhibit.subtitle.html_safe %></small>
          </div>
        <% end %>
      <% else %>
        <%= application_name %>
        </div>
        <% if current_site.subtitle.present? %>
          <div class="site-subtitle h2">
            <small><%= current_site.subtitle %></small>
          </div>
        <% end %>
      <% end %>
  </div>

  <%= render 'shared/exhibit_navbar' if current_exhibit && !resource_masthead? %>
</div>

<%= render 'shared/breadcrumbs' unless resource_masthead? %>
